################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App_Data/PublishProfiles/openjscad - Web Deploy.pubxml
/App_Data/PublishProfiles/openjscad - FTP.pubxml
