#filedropzone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  color: black;
  width: 50%;
}

#filedropzone_empty {
  text-align: center;
  color: #bbb;
}

#filedropzone_filled {
  color: black;
  display: none;
}

#filebuttons {
  float: right;
}

canvas { cursor: move; }

.parametersdiv {
  border: 1px solid rgb(200,200,200);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}

.parametersdiv .header {
  font-weight: bold;
}

.statusdiv {
  width: 60%;
  margin-bottom: 10px;
}
