/* openjscad.css, originally written by Joost Nieuwenhuijse
 *    few changes made by Rene K. Mueller for OpenSCAD.org
 */

/* CSS Breakpoints at 320, 720, 1024 pixels wide*/

#filedropzone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  padding: 15px;
  color: black;
  width: 100%;
  background: #fff;
  margin-top: 0.5em;
}

#filedropzone_empty {
  text-align: center;
  color: #888;
}

#filedropzone_filled {
  color: black;
  display: none;
}

#filebuttons {
  /* float: right; */
  margin-left: 2em;
  display: inline;
}

canvas { 
  cursor: move; 
}

.downloadOutputFileLink {
   padding: 2px;
   padding-left: 8px;
   padding-right: 8px;
   border: 1px solid black;

   border-radius: 4px;  /* css mess */
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;

   background: #d8f;
   background: -webkit-gradient(linear, left top, left bottom, from(#eaf), to(#c6f));
   background: -moz-linear-gradient(top,  #eaf,  #c6f);

   text-decoration: none;
   color: black;
   font-size: 0.9em;
   font-weight: bold;
   box-shadow: 0px 0px 8px black;
}

#parametersdiv {
  /* display: inline-block;     ineffective since we do control in openjscad.js */
  position: absolute;         

  bottom: 9em;                /* draggable via jQuery cannot move bottom: align, stick at the bottom (bug!!) */
  left: 1em;
  /* top: 2em;                if draggable, but must be left/top oriented, cannot be aligned bottom which looks nicer
     left: 16em;
   */
  
  z-index: 4;
  border: 1px solid rgb(200,200,200);
 
  border-radius: 5px;     
  -moz-border-radius: 5px;    /* css mess */
  -webkit-border-radius: 5px;

  padding: 10px;
  background: #fff; /* rgba(255,255,255,0.7); */
  opacity: 0.8;
  
  /* box-shadow: 0px 0px 15px black;  no shadow, it would indicate moveable/dragable */
  
  /* cursor: move;     moveable now */
}
#parametersdiv td {
  font-size: 0.8em;
}
#parametersdiv input, #parametersdiv textarea, #parametersdiv select {
  font-size: 0.9em;
  background: #fea;
  border: none;
}

#parametersdiv .parameterheader {
   font-weight: bold;
   font-size: 0.9em;
}

#parametersdiv .caption {
   text-align: right;
}

#instantUpdate {
   margin-left: 1em;
}

#instantUpdateLabel {
   font-size: 0.9em;
}

.statusdiv {
}

#menuButton {
    display: none;
    position: absolute;
    z-index: 255;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-image: url("imgs/menu.png");
    background-color: white;
    cursor: pointer;
}

#dropDownMenu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 255;
    width: 100%;
    background-color: white;
    padding: 12px;
}

.menuItem {
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

#blockly {
    background-color: white; 
    display: none; 
    width: 40%; 
    height: 100%; 
    z-index: 10; 
    position: absolute; 
    right: 0%; 
    top: 0px;
}

.selectedMenuItem {
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    #header {
        top: 2px;
        left: 44px;
    }
    #tail {
        display: none;
    }
    #editor {
        background: white;
        display: none;
        width: 100%;
        top: 40px;
        height: calc(100% - 40px);
    }
    #NewWindowButton {
        display: none;
    }
    #Windows10Badge {
        display: none;   
    }

    #Windows10Badge.a {
        display: none;   
    }

    body {
        margin-left: 12px;
        margin-right: 12px;
    }
    #menuButton {
        display: block;
    }

    #BlocklyButton {
        display: none;
    }

    #blockly {
        width: 100%;
        top: 40px;
        height: calc(100% - 40px); 
    }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    body {
        margin-left: 24px;
        margin-right: 24px;
    }

    #Windows10Badge {
        display: none;
        position: absolute;
        right: calc(40% + 80px);
        top: 0px;
        z-index: 10;
    }

    #BlocklyButton {
        display: block;
        position: absolute;
        right: 40%;
        top: 0px;
        width: 78px;
        height: 40px;
        padding: 2px;
    }
}

@media screen and (min-width: 1024px){
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
    #Windows10Badge {
        display: none;
        position: absolute;
        right: calc(40% + 80px);
        top: 0px;
        z-index: 10;
    }

    #BlocklyButton {
        display: block;
        position: absolute;
        right: 40%;
        top: 0px;
        width: 78px;
        height: 40px;
        padding: 2px;
    }
}
