/*
 * style.css for index.html of http://OpenJSCAD.org/
 */

html, body {
  margin: 0;
  border: 0 none black;
  padding: 0;
  font-family: Helvetica, Arial, Sans;

   /* ensure that the document uses the whole width and height of the browser */
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;

   /* viewer/canvas is full screen so when window
      is resized all remains intact, but we make sure no scrollbar appears */
  overflow: hidden;
}

#header {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 20;
}

#editFrame {
  bottom: 0;
  font-weight: normal;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
}

#editFrame {
  transition: width .4s cubic-bezier(.2, .8, .4, 1);
}

#editor {
  background: rgba(255,255,255,.3);
  bottom: inherit;
  left: inherit;
  margin: inherit;
  position: inherit;
  right: inherit;
  top: inherit;
  width: 100%;
  z-index: 6;
}

#viewerContext {
  margin: 0;
  border: 0 none black;
  padding: 0;

   /* ensure that the canvas uses the whole width and height of the document */
  background: white;
  height: 100%;
  width: 100%;

  top: 0;
  bottom: 0;
}

canvas {
  margin: 0;
  border: 0 none black;
  padding: 0;

   /* ensure that the canvas uses the whole width and height of the document */
  height: 100%;
  width: 100%;

  cursor: move;        /* show that we can change orientation of view */
}

#tail {
  z-index: 4;
  position: absolute;
  bottom: 1em;
  margin: 1em;
}

#busy {
  vertical-align: middle;
}

#menu {
  background: white;
  border-right: 1px solid black;
  box-shadow: 4px 0 10px rgba(0,0,0,.25);
  font-size: .9em;
  height: inherit;
  opacity: .8;
  padding-left: 20px;
  padding-right: 10px;
  position: fixed;
  width: 250px;
  z-index: 5;
}

/* arrows */
.shift-scene {
  background: transparent;
  border-radius: 50%;
  border: 5px dotted #999;
  cursor: move;
  display: none;
  height: 160px;
  left: 50%;
  margin-left: -80px;
  margin-top: -80px;
  opacity: .8;
  position: absolute;
  top: 50%;
  width: 160px;
}

.shift-scene.active {
  display: block;
}

.arrow {
  border: 50px solid transparent;
  height: 0;
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
  width: 0;
  z-index: 100;
}

.arrow-left {
  border-right-color: #666;
  margin-left: -90px;
}

.arrow-right {
  border-left-color: #666;
  margin-left: 150px;
}

.arrow-top {
  border-bottom-color: #666;
  margin-top: -90px;
}

.arrow-bottom {
  border-top-color: #666;
  margin-top: 150px;
}

.shift-vertical .arrow-left,
.shift-vertical .arrow-right,
.shift-horizontal .arrow-top,
.shift-horizontal .arrow-bottom {
  display: none;
}
