.jscad1{
  position: relative;
  width: 100%;
  height: 100%;
}

.jscad2{
  position: relative;
  width: 1200px;
  height: 700px;
}

.wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

html{
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0px;
  --main-text-color: grey;
}

/* not demo specific code*/
.jscad {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans'), local('OpenSans'), url(../fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: local('OpenSans'), local('OpenSans'), url(../fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('OpenSans'), local('OpenSans'), url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}

#renderTarget{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#fileLoader{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
#fileLoader + label {
  background: none;
  box-shadow: none;
  border: 1px solid #bfbcbc;
  border-color: black;
  border-radius: 0px;
  border-width: 1px;
  padding: 2px 0px 0px 2px;
  margin: 0px 5px 0px 0px;
  background-color: white;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
}
/*#fileLoader:focus + label,*/
#fileLoader + label:hover {
  background-color: rgba(0, 188, 212, 0.6);
}

#controls {
  color: var(--main-text-color);
  position: absolute;
  width: 100%;
  user-select: none;
  top: 30px;
  left: 10px;
  z-index: 1;
}

#controls input[type="checkbox"] {
  margin-right: 19px;
}

section#params {
  position: absolute;
  bottom: 10px;
  left: 10px;
  user-select: none;
  max-height: calc(100% - 6em);
  overflow-y: scroll;
  padding: 0;
}
#paramsTable{
  display: flex;
  margin-bottom: 20px;
}
#paramsTable table {
  border-collapse: collapse;
}
#paramsTable td {
  padding: 1px 20px 5px 4px;
}
#paramsTable td.caption {
  vertical-align: baseline;
  font-weight: bold;
  opacity: .7;
  padding: 1px 4px 5px 20px;
  text-align: right;
}
#paramsTable h1{
  margin-bottom: 6px;
  margin-top: 6px;
  font-size: medium;
}
#paramsTable h1 {
  margin: 0px;
  font-size: 1.3em;
}
#paramsTable .groupTitle {
  border-top: 1px solid #bfbcbc;
  cursor: pointer;
  background: linear-gradient(180deg, #00000014, transparent);
}
#paramsTable .groupTitle td.caption {
  text-align: left;
  padding: 4px 10px 5px;
}
#paramsTable .groupTitle:hover {
  background: #dceeff;
}
#paramsTable .groupTitle td:nth-child(2){
  float: right;
}
#paramsTable .groupTitle .icon {
  vertical-align: middle;
}
#paramsTable .groupTitle.closed .icon-open{
  display: none;
}
#paramsTable .groupTitle.open .icon-closed{
  display: none;
}

/*#paramsTable .groupTitle:hover .icon-closed{
  display: none;
}
#paramsTable .groupTitle:hover .icon-open{
  display: block;
}*/

#paramsTable .controlsLine{
  padding-top: 10px;
}
span#paramsControls {
  display: block;
  text-align: right;
  padding: 3px 20px 10px;
}
#paramsTable tr.controlsLine:first-child td {
   padding-top: 14px;
}

#busy{
  position: absolute;
  color: black;
}

#status{
  position: absolute;
  color: red;
  top: 60px;
  left: 0;
  width: 33%;
  padding:  20px;
  z-index: 1;
}

#container{
  position: relative;
  height: 100%;
  width: 100%;
  /*position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;*/
}

h3 {
  margin: auto;
}

#header {
  position: absolute;
  left: 10px;
  color: var(--main-text-color);
  width: 100%;
  display: inline-flex;
  z-index: 1;
}
#jscadName {
  margin: 5px 5px 5px 0px;
  text-transform: capitalize;
}
#designName {
  margin: 5px 5px 5px 5px;
}
#io {
  margin: 5px 5px 5px 5px;
}
#exportFormats {
  margin: 0px 5px 0px 5px;
  opacity: 0.6;
}

#toolbar {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
}
#toolbar button {
  border-color: white;
}

section {
  padding: 20px;
  box-shadow: 5px 5px 7px 2px rgba(0, 0, 0, 0.17);
  overflow: scroll;
  color: var(--main-text-color);
  z-index: 10;
  border: 1px solid #aaa;
}

section.popup-menu {
  position: absolute;
  top: 40px;
  right: 15px;
  height: 80%;
}

section.popup-menu h2 {
  color: #5e6d7d;
}

section.popup-menu h2:first-child {
  margin-block-start: 0;
}

section.popup-menu h3 {
  margin: auto;
  border-bottom: 1px solid #888888;
}

section.popup-menu ul {
  margin-top: 2px;
  list-style: none;
  padding-left: 18px;

}

#options {
  padding-left: 18px;
}

#options fieldset{
  border: none;
  display: table;
}
#options fieldset label{
  display: table-row;
}
#options fieldset input{
  display: table-row;
  align-self: flex-end;
}
#shortcuts {
  padding: 5px;
}

#editor {
  padding: 1px;
  font-size: 0.9em;
  width: 50%;
}

textarea {
  height: inherit;
  width: inherit;
}

#help {
}

#help a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

#help a:hover {
  color: rgb(0 89 149);
}

a.external-link {
  background-image: url(../imgs/externalLink.png);
  background-repeat: no-repeat;
  background-position: right 3px;
  padding-right: 16px;
}

#help p {
  margin-left: 10px;
}

#help table {
  margin: 10px 0px 0px 10px;
}

#help ul.examples-group {
  padding: 0;
}

#help ul.examples-group>li {
  padding: 4px 0 0 0;
}


button {
  background: none;
  box-shadow: none;
  border-color: black;
  border-radius: 0px;
  border-width: 1px;
  margin: 0px 5px 0px 5px;
  background-color: white;
  letter-spacing: .5px;
  outline: none;
  border: 1px solid #bfbcbc;
  opacity: 0.6;
}

/*button:hover{
  background-color:rgb(0, 153, 255);
}*/

button:hover svg {
  stroke:rgb(0, 153, 255);
}

#toolbar button:hover {
  box-shadow: 0px -1px 5px 0.5px rgba(0, 0, 0, 0.17);
}

button:hover{
  background-color:rgba(0, 188, 212, 0.6);;
}

input[type="button"]{
  box-shadow: none;
  border-color: black;
  border-radius: 0px;
  border-width: 1px;
  background-color: white;
  outline: none;
  border: 1px solid;
  opacity: 0.6;
}  
input[type="button"]:hover{
  background-color:rgba(0, 188, 212, 0.6);
}

input[type="checkbox"] {
  opacity: 0.5;
}

input[type="checkbox"]:hover{
  background-color:rgba(0, 188, 212, 0.6);
}

/*themes ?? not sure, not used yet*/
.light{
  color:black;
}
.dark{
  color:white;
}
#appUpdates {
  visibility: visible;
}
#appUpdates a{
  text-decoration:none;
}

.shortcutCommand.error{
  color:red;
}

input.error::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
}

#shortcuts .error input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

#shortcuts .error input::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

.icon {
  padding: 0px;
}
.icon svg{
  width: 16px;
  height: 16px;
}
