/* openjscad.css, originally written by Joost Nieuwenhuijse
 *    few changes made by Rene K. Mueller for OpenSCAD.org
 */

#filedropzone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  padding: 15px;
  color: black;
  width: 100%;
  background: #fff;
  margin-top: 0.5em;
}

#filedropzone_empty {
  text-align: center;
  color: #888;
}

#filedropzone_filled {
  color: black;
  display: none;
}

#filebuttons {
  /* float: right; */
  margin-left: 2em;
  display: inline;
}

canvas { 
  cursor: move; 
}

.downloadOutputFileLink {
   padding: 2px;
   padding-left: 8px;
   padding-right: 8px;
   border: 1px solid black;

   border-radius: 4px;  /* css mess */
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;

   background: #d8f;
   background: -webkit-gradient(linear, left top, left bottom, from(#eaf), to(#c6f));
   background: -moz-linear-gradient(top,  #eaf,  #c6f);

   text-decoration: none;
   color: black;
   font-size: 0.9em;
   font-weight: bold;
   box-shadow: 0px 0px 8px black;
}

#parametersdiv {
  /* display: inline-block;     ineffective since we do control in openjscad.js */
  position: absolute;         

  bottom: 9em;                /* draggable via jQuery cannot move bottom: align, stick at the bottom (bug!!) */
  left: 1em;
  /* top: 2em;                if draggable, but must be left/top oriented, cannot be aligned bottom which looks nicer
     left: 16em;
   */
  
  z-index: 4;
  border: 1px solid rgb(200,200,200);
 
  border-radius: 5px;     
  -moz-border-radius: 5px;    /* css mess */
  -webkit-border-radius: 5px;

  margin: 5px 0px 5px 0px;
  padding: 10px;
  background: #fff; /* rgba(255,255,255,0.7); */
  opacity: 0.8;
  
  /* box-shadow: 0px 0px 15px black;  no shadow, it would indicate moveable/dragable */
  
  /* cursor: move;     moveable now */
}
#parametersdiv th {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}
#parametersdiv td {
  text-align: right;
  font-size: 0.8em;
}
#parametersdiv input, #parametersdiv textarea, #parametersdiv select {
  font-size: 0.9em;
  background: #fea;
  border: none;
}

#instantUpdate {
   margin-left: 1em;
}
#instantUpdateLabel {
   font-size: 0.9em;
}

#statusdiv {
}
#statusspan {
   margin-right: 2em;
}
#statusbuttons {
   float: right;
}

#selectdiv {
  position: fixed;
  top: 0.5em;
  right: 0.5em;

  z-index: 4;
  background: transparent;
  opacity: 0.8;
  border: none;
  display: inline;
}
#startRange {
  margin: 2px;
  padding: 2px;
}
#endRange {
  margin: 2px;
  padding: 2px;
}

