html,body{
  width: 100%;
  height: 100%;
  margin: 0;
}
body{
  font-family: 'Open sans' ,sans-serif;
  font-size: 13px;
}
*{
  box-sizing: border-box;
}
[hidden]{
  display: none !important;
}

button{
  &[selected]{
    background: rgb(207, 159, 69);
  }
}
.g-ib{
  display: inline-block;
}
// vertical center
.g-vc{
  display: inline-flex;
  align-items: center;
}

.g-fs{
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
// form row
.f-r{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 0;
}

.svg-icon{
  width: 24px;
  height: 24px;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.el-switch {
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;
  span {
    height: 1.6em;
    left: 0;
    background: #C0CCDA;
    border-radius: 0.8em;
    display: inline-block;
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 3em;
    cursor: pointer;
    &:before{
      display: block;
      content: '';
      height: 1.4em;
      position: absolute;
      width: 1.4em;
      background-color: #fff;
      border-radius: 50%;
      left: 0.1em;
      top: 0.1em;
      transition: all 0.3s ease-in-out;
    }
  }

  > input[type="checkbox"] {
    display: none;
  }
  > input[type="checkbox"][disabled] + span {
    cursor: not-allowed;
    background-color: #D3DCE6;
  }
  > input[type="checkbox"]:checked + span {
    background-color: #20a0ff;
  }
  > input[type="checkbox"]:checked + span:before {
    left: 50%;
  }
  > input[type="checkbox"]:checked[disabled] + span {
    background-color: #b0d7f5;
  }
}

@import './css/App'
