html,body{
  width: 100%;
  height: 100%;
  margin: 0;
}
body{
  font-family: 'Open sans' ,sans-serif;
  font-size: 13px;
}
*{
  box-sizing: border-box;
}
[hidden]{
  display: none !important;
}
button{
  border: none;
  background-color: transparent;
}

// display block commons case
.bl{ display: block; }
.bli{ display: inline-block; }

// flex
.fx    { display: flex; }
.fxi   { display: inline-flex; }
.fx1   { flex: 1; }
// default is row, so class for column is needed
.fx-col { display: flex; flex-flow: column;}
// flex with everything stretched
.fxc { display: flex; justify-content: center; align-items: center;}
// flex with everything centered
.fxs { display: flex; justify-content: stretch; align-items: stretch;}
// flex justify tweaks
.fx-jc { justify-content: center; }
.fx-ac { align-items: center; }
.fx-js { justify-content: flex-start; }
.fx-as { align-items: flex-start; }
.fx-je { justify-content: flex-end; }
.fx-ae { align-items: flex-end; }

// some very common sizes
.wa { width: auto; }
.w100 { width: 100%; }
.w50 { width: 50%; }
.h100 { height: 100%; }
// often needed owerflow
.owh{ overflow: hidden;}
.owa{ overflow: auto;}


// form row
.f-r{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 0;
}

.g-focus-menu {
  position: relative;
  .g-focus-menu-inner {
    position: absolute;
  }
  &:not(:focus-within) .g-focus-menu-inner {
    display: none;
  }
}

.svg-icon{
  width: 24px;
  height: 24px;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.el-switch {
  border: none;
  padding: 0;
  background: transparent;
  display: inline-block;
  font-size: 100%;
  height: 1.6em;
  position: relative;
  border-radius: 0.8em;
  span {
    height: 1.6em;
    left: 0;
    background: #C0CCDA;
    border-radius: 0.8em;
    display: inline-block;
    position: relative;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 3em;
    cursor: pointer;
    &:before{
      display: block;
      content: '';
      height: 1.4em;
      position: absolute;
      width: 1.4em;
      background-color: #fff;
      border-radius: 50%;
      left: 0.1em;
      top: 0.1em;
      transition: all 0.1s;
    }
  }

  &[disabled] > span {
    cursor: not-allowed;
    background-color: #D3DCE6;
  }
  &[selected] > span {
    background-color: #20a0ff;
  }
  &[selected] > span:before {
    left: 50%;
  }
  &[selected][disabled] > span {
    background-color: #b0d7f5;
  }
}

@import './css/App'
