.jscad-app{
  $shadow-color: #8fb5c7;

  .settings-area{
    position: absolute;
    top: 32px;
    width: 400px;
    padding: 20px;
    z-index: 1;
    box-shadow: 2px 2px 4px $shadow-color;
  }
  
  .menu-area{
    position: absolute;
    height: 32px;
    width: fit-content;
    border: solid 1px gray;
    z-index: 1;
  }

  .menu-buttons{
    button{
      cursor: pointer;
      &[selected]{
        background-color: #61a3c2;
      }
    }
  }
  .tab-buttons{
    [selected]{
      background-color: #61a3c2;
    }
  }
  .viewer-area{
  }
  [p="viewer"]{
    width: 100px;
  }

  .drop-handler{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, 0.5);
    z-index: 999;
  }

  .focusTrap{
    position: absolute;
    top:-100px;
  }
}


