.jscad-app{
  $shadow-color: #8fb5c7;

  .settings-area{
    position: absolute;
    top: 32px;
    width: 400px;
    background: white;
    padding: 20px;
    z-index: 1;
    box-shadow: 2px 2px 4px $shadow-color;
  }
  
  .top-menu{
    position: absolute;
    display: flex;
    height: 32px;
    width: fit-content;
    border: solid 1px gray;
    background: white;
    z-index: 1;
    button{
      cursor: pointer;
      &[selected]{
        background-color: #61a3c2;
      }
    }
  }

  .editor-area{
    margin-top: 32px;
    flex: 1;
    width: 50%;
  }
  .viewer-area{
    flex: 1;
    width: 50%;
    background: #fafafa;
  }
}


